
body   {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.profile-photo {
    margin: 10px;
}

.my-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
    text-align: center;

}

th, td {
   border: 1px solid black;
}

.logo-text {
    text-align: right;
}

.container {
    margin: 10px;
}

 .info1 {
            padding: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-right: 10px;
            background-color: #fdfcfc;
            border: 1px solid #ddd;

        }

.info2  {
            padding: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-right: 10px;
            background-color: #fdfcfcff;
            border: 1px solid #ddd;

        }

.btn-success {
    --bs-btn-color: #212529;
    --bs-btn-bg: #dee2e6;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #323434;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
}


.btn.clicked {
    background-color: black;
    color: white;
}
